

*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url("img/got.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.wolf{
	position: fixed;
	animation: bajar 3s linear forwards;
}

@keyframes bajar {
	from{
		transform: translateY(-50vh);
	}
	to{
		transform: translateY(75vh);
	}
}
